<header class="header" id="header">
	<div class="container">
		<div class="header__inner">
			<a class="logo" href="#" data-scroll="#intro">
				<img src="images/logo.svg" alt="">
			</a>
			<nav class="header__menu" id="header__menu">
				<ul class="header__menu-list">
					<li class="header__menu-item">
						<a class="header__menu-link" href="#" data-scroll="#benefits">Почему мы?</a>
					</li>
					<li class="header__menu-item">
						<a class="header__menu-link" href="#" data-scroll="#rooms">Номера</a>
					</li>
					<li class="header__menu-item">
						<a class="header__menu-link" href="#" data-scroll="#reviews">Отзывы</a>
					</li>
					<li class="header__menu-item">
						<a class="header__menu-link" href="#" data-scroll="#contacts">Как нас найти</a>
					</li>
				</ul>
			</nav>
			<button class="burger" id="headerMenuToggle" type="button">
				<span class="burger-line"></span>
				<span class="burger-line"></span>
				<span class="burger-line"></span>
				<span class="burger-line"></span>
			</button>
		</div>
	</div>
</header>