<header class="header">
	<div class="container">
		<div class="header__inner">
			<a class="logo" href="#">
				<img src="images/logo.svg" alt="">
			</a>
			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__item">
						<a class="menu__link" href="#">Почему мы?</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">Номера</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">Отзывы</a>
					</li>
					<li class="menu__item">
						<a class="menu__link" href="#">Как нас найти</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>