html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li,
ol{
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus,
input:focus {
  outline: transparent;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body{
  font-size: 16px;
  line-height: 22px;
  @include l400;
  color: $dark;
}