@media (max-width: 1600px) {

	//benefits
	.benefits:after {
		width: 354px;
		height: 328px;
		top: -15px;
		right: -76px;
	}

	//reviews
	.reviews:after {
		width: 280px;
		height: 275px;
		top: -55px;
		right: 126px;
	}

}

@media (max-width: 1200px) {

	//benefits
	.benefits:after {
		width: 300px;
		height: 290px;
		top: -78px;
		right: -76px;
	}

	.benefits__inner {
		margin-left: -20px;
	}

	.benefits__item {
		flex-basis: calc(50% - 20px);
		margin-left: 20px;
		margin-bottom: 20px;
		text-align: center;
		padding: 20px 30px 30px 30px;
	}

	.benefits__item-icon {
		display: flex;
		margin: 10px auto;
	}

	//rooms
	.rooms__slide-box {
		padding: 30px 45px;
	}

	//reviews
	.reviews:after {
		top: -55px;
		right: -60px;
	}

}

@media (max-width: 940px) {

	//rooms

	.rooms__slide {
		margin-left: 0;
	}

	.rooms__slide-box {
		top: 323px;
		left: auto;
		right: auto;
		width: 80%;
		border-radius: 0 0 8px 8px;
	}


	.rooms__slider .slick-dots {
		margin-top: 238px;
	}

	.rooms__slider:after {
		width: 270px;
		height: 164px;
		top: -87px;
		left: -22px;
	}

	.rooms__slider .rooms__slide {
		display: flex !important;
		justify-content: center !important;
	}

	.rooms__slide-list {
		list-style: none;
	}

	.rooms__slide-box,
	.rooms__slide-img {
		width: 440px;
	}

	.rooms__slide-img {
		height: 220px;
		border-radius: 8px 8px 0 0;
	}

	.rooms__slide-box {
		top: 220px;
		padding: 15px;
		text-align: center;
		height: 210px;
		border-radius: 0 0 8px 8px;
	}

	.rooms__slide-item {
		margin-bottom: 10px;
	}

	.rooms__slide-item:last-child {
		margin-bottom: 18px;
	}

	.rooms__slide-title {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.rooms__slide-item span {
		font-size: 14px;
		line-height: 15px;
	}

	.rooms__slide-button {
		padding: 15px 50px 15px 10px;
		font-size: 14px;
	}

	//reviews
	.reviews__slider .reviews__slide {
		display: flex !important;
		justify-content: center !important;
		flex-direction: column;
	}

	.slick-list.draggable {
		padding: 10px 5px 10px 5px;
	}
	.reviews__slide{
		max-width: 98%;
	}

}

@media (max-width: 760px) {

	.benefits__title,
	.rooms__title,
	.reviews__title,
	.contacts__info-title {
		margin-bottom: 30px;
	}

	.page-section {
		padding-bottom: 75px;
	}

	//header
	.header__menu {
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		flex-direction: column;
		background-color: rgba(143, 143, 143, 1.4);
		padding-top: 8px;
		transform: translateX(100%);
		transition: transform .5s ease-out;
		height: calc(100vh - 50px); //scroll burger
		overflow: auto; //scroll burger

		&.show {
			transform: translateX(0);
		}
	}

	.burger {
		display: block;
	}

	.header__inner {
		height: 60px;
	}

	.header__menu-list {
		flex-direction: column;
	}

	.header__menu-link {
		display: block;
		text-align: right;
		padding: 10px 15px;
	}

	img {
		width: 75%;
	}

	//intro
	.intro {
		margin-bottom: 75px;
		padding: 75px 0;
	}

	.intro__box {
		padding-left: 30px;
	}

	//benefits
	.benefits__item {
		flex-basis: 100%;
		max-width: 100%;
		padding: 5px 15px 15px 15px;
		margin-bottom: 15px;
	}

	//reviews
	.reviews__slide {
		padding: 20px 20px 20px 25px;
	}

	.reviews__slide-text:before {
		width: 16px;
		height: 16px;
		left: -20px;
	}

	.reviews__slide-text {
		min-height: 100px;
		font-size: 14px;
	}

	.reviews__slide-info {
		font-size: 14px;
	}

	.reviews .slick-dots {
		margin-top: 10px;
	}

}

@media (max-width: 495px) {

	.rooms__slide-box,
	.rooms__slide-img {
		width: 100%;
	}

	//reviews
	.reviews__slide-info {
		flex-direction: column;
	}

	.reviews__slide-name {
		margin-bottom: 3px;
	}
}