@import 'vars';
@import 'fonts';
@import 'global';

//start header
.header {
	// position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	background: #fff;


	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 76px;
	}
}

.menu {
	&__list {
		display: flex;
		list-style: none;
	}

	&__item {
		margin-left: 30px;
	}

	&__link {
		@include l600;
		transition: all .5s;
	}

	&__link:hover {
		color: $orange;
	}
}

//end header
//start intro
.intro {
	margin-top: 20px;
	padding: 153px 0;
	background-image: url('../images/intro.jpg');
	background-position: center 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	&__box {
		padding-left: 80px;
	}

	&__box-location {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 8px;
	}

	&__box-title {
		font-size: 62px;
		line-height: 73px;
		margin-bottom: 15px;
		@include r700;
	}

	&__box-description {
		font-size: 20px;
		line-height: 24px;
		@include l500;
		margin-bottom: 40px;
	}
}

.btn {
	cursor: pointer;
	border: none;
	padding: 18px 63px 18px 30px;
	background: #FFFEFD;
	box-shadow: 0px 5px 25px rgba(26, 33, 47, .1);
	border-radius: 25px;
	@include l600;
	line-height: 19px;
	position: relative;
	transition: all .5s;

	&:after {
		position: absolute;
		content: '';
		background: url('../images/paw.svg') no-repeat;
		width: 36px;
		height: 36px;
		right: 7px;
		top: 50%;
		transform: translateY(-50%);
		transition: all .5s;
	}

	&:hover {
		background-color: $orange;
		color: #fff;
	}

	&:hover:after {
		background: url('../images/paw-white.svg') no-repeat;
	}
}

//end intro
//start benefits
.benefits {
	position: relative;

	&:after {
		position: absolute;
		content: '';
		background: url('../images/paw-big.svg');
		width: 405px;
		height: 390px;
		top: -15px;
		right: 115px;
		z-index: -1;
	}

	&__inner {
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-left: -30px;
		display: flex;
	}

	&__title {
		margin-bottom: 70px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		max-width: 370px;
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .25);
		border-radius: 8px;
		padding: 30px;
		flex-basis: calc(33.3333% - 30px);
		margin-left: 30px;
		margin-bottom: 30px;
		transition: all .5s;
		background: #fff;
	}

	&__item:hover {
		box-shadow: 0px 0px 25px rgba(250, 198, 99, .7);
	}

	&__item-icon {
		width: 91px;
		height: 91px;
		margin-bottom: 25px;
	}

	&__item-title {
		font-size: 22px;
		line-height: 31px;
		@include r700;
		margin-bottom: 20px;
	}
}

//end benefits
//start rooms
.rooms {
	&__title {
		margin-bottom: 70px;
	}

	&__slider {
		position: relative;
		z-index: 5;
	}

	&__slider:after {
		position: absolute;
		content: '';
		background: url('../images/fish.svg') no-repeat;
		width: 484px;
		height: 150px;
		top: -80px;
		left: -60px;
		z-index: -1;
	}

	&__slide {
		margin-left: 65px;
		position: relative;
	}

	&__slide-img {
		width: 600px;
		height: 404px;
		border-radius: 10px;
		z-index: -1;
	}

	&__slide-box {
		background: #FFFFFF;
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .25);
		border-radius: 8px;
		width: 500px;
		height: 284px;
		padding: 30px 100px;
		position: absolute;
		top: 60px;
		right: 130px;
	}

	&__slide-title {
		font-size: 22px;
		line-height: 26px;
		@include r700;
		margin-bottom: 20px;
	}

	&__slide-item {
		margin-bottom: 15px;
		color: $yellow;

		span {
			line-height: 19px;
			font-size: 16px;
			color: $dark;
		}
	}

	&__slide-item:last-child {
		margin-bottom: 30px;
	}

	&__slide-button {
		background: $yellow;
	}
}

//style slick-slider

.rooms__slider-btn {
	position: absolute;
	bottom: -20px;
	background-color: transparent;
	cursor: pointer;
	border: none;
	margin: 0;
	padding: 0;
}

.rooms__slider-btnnext {
	right: 0;
}

.rooms__slider-btnprev {
	right: 50px;
}

.slick-dots {
	list-style: none;
	justify-content: center;
	display: flex;
	margin-top: 35px;

	button {
		margin-right: 12px;
		border-radius: 50%;
		border: none;
		width: 12px;
		height: 12px;
		font-size: 0;
		cursor: pointer;
	}
}

.slick-active button {
	background-color: $yellow;
}

//end rooms
//start reviews
.reviews {
	margin-bottom: 40px;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		background: url('../images/paw-big2.svg') no-repeat;
		width: 350px;
		height: 345px;
		top: 0;
		right: 265px;
		z-index: -1;
	}

	&__title {
		margin-bottom: 70px;
	}


	&__slide {
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .25);
		border-radius: 8px;
		padding: 35px 35px 35px 70px;
		max-width: 470px;
		transition: all .3s;
		background: #fff;
		z-index: 5;
	}

	&__slide:hover {
		box-shadow: 0px 0px 25px rgba(250, 198, 99, .7);
	}


	&__slide-text {
		position: relative;
		margin-bottom: 25px;
	}

	&__slide-text:before {
		position: absolute;
		content: '';
		background: url('../images/quote.svg') no-repeat;
		width: 27px;
		height: 56px;
		left: -30px;
		top: 0;
	}

	&__slide-info {
		display: flex;
		justify-content: space-between;
		color: $gray;
		font-size: 14px;
		line-height: 17px;
	}

	//style slick-slider
	.slick-list.draggable {
		padding: 30px 0px 30px 10px;
	}

	&__slider-btn {
		position: absolute;
		bottom: -20px;
		background-color: transparent;
		cursor: pointer;
		border: none;
		margin: 0;
		padding: 0;
	}

	&__slider-btnnext {
		right: 0;
	}

	&__slider-btnprev {
		right: 50px;
	}
}

//end reviews
//start contacts
.contacts {
	&__inner {
		display: flex;
	}

	&__info {
		background: $yellow;
		padding: 70px 111px 70px 198px;
		width: 45%;
	}

	&__info-title {
		margin-bottom: 50px;
	}

	&__info-item {
		margin-bottom: 35px;
	}

	h6 {
		@include l700;
		margin-bottom: 8px;
	}

	a {
		transition: all .5s;
	}

	a:hover {
		text-decoration: underline;
		opacity: .5;
	}

	&__social-list {
		list-style: none;
		display: flex;
		align-items: center;
	}

	&__social-item+&__social-item {
		margin-left: 20px;
		transition: all .5s;
	}

	&__social-item:hover {
		opacity: .5;
	}


	&__map {
		width: 55%;

		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

//end contacts
//start footer
.footer {
	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 76px;
	}

	&-line {
		border-bottom: 1px solid $gray;
	}

	&-container {
		display: flex;
		justify-content: space-between;
	}

	&-bottom {
		padding: 17px 0;
	}

	&-bottom__license {
		position: relative;
		padding-left: 14px;
		font-size: 12px;
		line-height: 14px;
		color: $gray;
	}

	&-bottom__license:before {
		position: absolute;
		content: '';
		background: url('../images/license.svg') no-repeat;
		width: 9px;
		height: 9px;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&-bottom__politics {
		font-size: 12px;
		line-height: 14px;
		color: $gray;
		cursor: pointer;
		display: inline-block;
	}
}

//end footer
//start catalog
.catalog {
	padding-top: 70px;

	&-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		align-items: center;
	}

	&__inner {
		display: flex;
	}

	&__aside {
		min-width: 215px;
		margin-right: 90px;
	}

	&__aside-item {
		margin-bottom: 40px;
	}

	&__aside-title {
		margin-bottom: 20px;
	}

	&__aside-input {
		width: 100px;
		border: 1px solid #c4c4c4;
		height: 24px;
		padding: 0 5px;
		font-size: 14px;
		line-height: 17px;
	}

	&__aside-input+&__aside-input {
		margin-left: 10px;
	}

	&__aside-buttons {
		display: inline-flex;
		flex-direction: column;
	}

	&__aside-btn {
		border: none;
		background: #fff;
		padding: 15px 55px 17px 56px;
		border: 2px solid $yellow;
		border-radius: 25px;
		margin-bottom: 15px;
		transition: all .5s;
		cursor: pointer;
		display: inline-block;
		@include l700;
	}

	&__aside-btn:hover {
		background: $yellow;

	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -22px;
	}

	&__item-wrapper {
		width: 270px;
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .4);
		transition: all .3s;
		border-radius: 6px;
		margin-bottom: 22px;
		width: calc(33.333333% - 22px);
		margin-left: 22px;
		display: flex;
		flex-direction: column;
	}

	&__item-wrapper:hover {
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .7);
	}


	&__item-img {
		display: flex;
		width: 100%;
		border-radius: 6px 6px 0 0;
	}

	&__item-inner {
		border-radius: 0 0 6px 6px;
	}

	&__item-info {
		padding: 20px 18px 0px 18px;
	}

	&__item-title {
		@include r700;
		margin-bottom: 15px;
	}

	&__item-paragraph {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 10px;

		span {
			font-size: 18px;
			line-height: 22px;
			@include l500;
		}
	}

	&__item-paragraph:last-child {
		margin-bottom: 15px;
	}

	&__item-paragraph-img {
		margin-left: 8px;
	}


	&__link {
		cursor: pointer;
		border: none;
		border: 2px solid $orange;
		padding: 15px 80px 17px 51px;
		background: $orange;
		color: #fff;
		box-shadow: 0px 5px 25px rgba(26, 33, 47, .1);
		border-radius: 25px;
		@include l600;
		font-size: 14px;
		line-height: 1;
		position: relative;
		transition: all .5s;
		display: inline-block;
		margin: 5px 20px 15px;
	}

	&__link:after {
		position: absolute;
		content: '';
		background: url('../images/paw-small.svg') no-repeat;
		width: 34px;
		height: 34px;
		right: 6px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__link:hover {
		background-color: #fff;
		color: #000;
	}


}




.aside-filter__content-label {
	display: block;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 15px;
	cursor: pointer;
}

.select-item {
	cursor: pointer;
}

.aside-btn {
	padding: 15px 36px 17px;
}

.outfit {
	display: flex;
	margin-bottom: 5px;
}

//end catalog

//star product__slider
.product__slider {
	height: 550px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		background: url('../images/paw-big.svg') no-repeat;
		width: 405px;
		height: 386px;
		top: 40px;
		right: 0;
		transform: rotate(197deg);
		z-index: -1;
	}

	&-info {
		position: absolute;
		top: -6px;
		left: 550px;
	}

	&-preview {
		margin-bottom: 22px;
		cursor: pointer;
	}

	&-title {
		margin-bottom: 20px;
		text-align: left;
	}

	p {
		margin-bottom: 15px;
		font-size: 16px;
		line-height: 19px;
	}

	&-icon {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}

	&-imgbig {
		max-width: 500px;
		width: 100%;
		height: 396px;
		border-radius: 8px;
		object-fit: cover;
		background-position: center;
	}

	&-previewimg {
		max-width: 70px;
		width: 100%;
		height: 112px;
		object-fit: cover;
		border-radius: 4px;
		opacity: .5;
	}

	&-img {
		margin-right: 8px;
	}

	&-btn {
		display: inline-block;
	}

	span {
		@include l700;
	}
}

.slider-class {
	float: right;
	width: 90%;
}

.preview-class {
	height: 100%;
	width: 60%;
}

//end product__slider




@import 'media';