@import 'vars';
@import 'fonts';
@import 'global';

//start header
.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	background: #fff;
	transition: all .5s;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 76px;
	}

	&__menu-list {
		display: flex;
		list-style: none;
	}

	&__menu-item {
		margin-left: 30px;
	}

	&__menu-link {
		@include l600;
		transition: all .5s;
	}

	&__menu-link:hover {
		text-decoration: underline;
	}

}


body.show-header__menu .header,
.header--dark {
	background-color: rgba(143, 143, 143, .9);
}

.burger {
	display: none;
	padding: 0;
	background: none;
	border: 0;
	color: transparent;
	position: relative;
	align-self: flex-start;
	top: 7px;
	width: 30px;
	height: 23px;
	cursor: pointer;

	&-line {
		width: 30px;
		height: 2px;
		display: block;
		background-color: $dark;
		margin: 4px 0;
		transition: transform .3s ease-out;
	}

	&-line:first-child {
		width: 20px;
		margin-left: auto;
		background-color: $orange;
	}

	&.active &-line:nth-child(1),
	&.active &-line:nth-child(3) {
		display: none;
	}

	&.active &-line:nth-child(2),
	&.active &-line:nth-child(4) {
		position: absolute;
		left: 0;
		top: 50%;
		transform-origin: center;
	}

	&.active &-line:nth-child(2) {
		transform: rotate(45deg);
	}

	&.active &-line:nth-child(4) {
		transform: rotate(-45deg);
	}
}

//end header
//start intro
.intro {
	padding: 153px 0;
	background-image: url('../images/intro.jpg');
	background-position: center 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 140px;

	&__box {
		padding-left: 80px;
	}

	&__box-location {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 8px;
	}

	&__box-title {
		font-size: 62px;
		line-height: 73px;
		margin-bottom: 15px;
		@include r700;
	}

	&__box-description {
		font-size: 20px;
		line-height: 24px;
		@include l500;
		margin-bottom: 40px;
	}
}

.btn {
	cursor: pointer;
	border: none;
	padding: 18px 63px 18px 30px;
	background: #FFFEFD;
	box-shadow: 0px 5px 25px rgba(26, 33, 47, .1);
	border-radius: 25px;
	@include l600;
	line-height: 19px;
	position: relative;
	transition: all .5s;

	&:after {
		position: absolute;
		content: '';
		background: url('../images/paw.svg') no-repeat;
		width: 36px;
		height: 36px;
		right: 7px;
		top: 50%;
		transform: translateY(-50%);
		transition: all .5s;
	}

	&:hover {
		background-color: $orange;
		color: #fff;
	}

	&:hover:after {
		background: url('../images/paw-white.svg') no-repeat;
	}
}

//end intro
//start benefits
.benefits {
	position: relative;

	&:after {
		position: absolute;
		content: '';
		background: url('../images/paw-big.svg') center/contain no-repeat;
		width: 405px;
		height: 390px;
		top: -15px;
		right: 115px;
		z-index: -1;
	}

	&__inner {
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-left: -30px;
		display: flex;
	}

	&__title {
		margin-bottom: 70px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		width: 370px;
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .25);
		border-radius: 8px;
		padding: 30px;
		flex-basis: calc(33.3333% - 30px);
		margin-left: 30px;
		margin-bottom: 30px;
		transition: all .5s;
		background: #fff;
	}

	&__item:hover {
		box-shadow: 0px 0px 25px rgba(250, 198, 99, .7);
	}

	&__item-icon {
		width: 91px;
		height: 91px;
		margin-bottom: 25px;
	}

	&__item-title {
		font-size: 22px;
		line-height: 31px;
		@include r700;
		margin-bottom: 20px;
	}
}

//end benefits
//start rooms
.rooms {
	&__title {
		margin-bottom: 70px;
	}

	&__slider {
		position: relative;
		z-index: 5;
	}

	&__slider:after {
		position: absolute;
		content: '';
		background: url('../images/fish.svg') center/contain no-repeat;
		width: 484px;
		height: 150px;
		top: -80px;
		left: -60px;
		z-index: -1;
	}

	&__slide {
		margin-left: 65px;
		// position: relative;
	}

	&__slide-img {
		width: 60%;
		height: 404px;
		border-radius: 10px;
		z-index: -1;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		background-position: center top;
	}

	&__slide-box {
		background: #FFFFFF;
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .25);
		border-radius: 8px;
		width: 40%;
		height: 284px;
		padding: 30px 100px;
		position: absolute;
		top: 60px;
		right: 130px;
		overflow: hidden;
	}

	&__slide-title {
		font-size: 22px;
		line-height: 26px;
		@include r700;
		margin-bottom: 20px;
	}

	&__slide-item {
		margin-bottom: 15px;
		color: $yellow;

		span {
			line-height: 19px;
			font-size: 16px;
			color: $dark;
		}
	}

	&__slide-item:last-child {
		margin-bottom: 30px;
	}

	&__slide-button {
		background: $yellow;
	}
}

//style slick-slider

.slick-list{
	overflow: visible;
}

.slick-slide{
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.rooms__slider-btn {
	position: absolute;
	bottom: -20px;
	background-color: transparent;
	cursor: pointer;
	border: none;
	margin: 0;
	padding: 0;
}

.rooms__slider-btnnext {
	right: 0;
}

.rooms__slider-btnprev {
	right: 50px;
}

.slick-dots {
	list-style: none;
	justify-content: center;
	display: flex;
	margin-top: 35px;

	button {
		margin-right: 12px;
		border-radius: 50%;
		border: none;
		width: 12px;
		height: 12px;
		font-size: 0;
		cursor: pointer;
	}
}

.slick-active button {
	background-color: $yellow;
}

//end rooms
//start reviews
.reviews {
	margin-bottom: 40px;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		background: url('../images/paw-big2.svg') center/contain no-repeat;
		width: 350px;
		height: 345px;
		top: 0;
		right: 265px;
		z-index: -1;
	}

	&__title {
		margin-bottom: 70px;
	}


	&__slide {
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .25);
		border-radius: 8px;
		padding: 35px 35px 35px 70px;
		max-width: 470px;
		transition: all .3s;
		background: #fff;
		z-index: 5;
	}

	&__slide:hover {
		box-shadow: 0px 0px 25px rgba(250, 198, 99, .7);
	}


	&__slide-text {
		position: relative;
		margin-bottom: 25px;
	}

	&__slide-text:before {
		position: absolute;
		content: '';
		background: url('../images/quote.svg') no-repeat;
		width: 27px;
		height: 56px;
		left: -30px;
		top: 0;
	}

	&__slide-info {
		display: flex;
		justify-content: space-between;
		color: $gray;
		font-size: 14px;
		line-height: 17px;
	}

	//style slick-slider
	.slick-list.draggable {
		padding: 30px 0px 30px 10px;
	}

	&__slider-btn {
		position: absolute;
		bottom: -20px;
		background-color: transparent;
		cursor: pointer;
		border: none;
		margin: 0;
		padding: 0;
	}

	&__slider-btnnext {
		right: 0;
	}

	&__slider-btnprev {
		right: 50px;
	}
}

//end reviews
//start contacts
.contacts {
	&__inner {
		display: flex;
	}

	&__info {
		background: $yellow;
		padding: 70px 111px 70px 198px;
		width: 45%;
	}

	&__info-title {
		margin-bottom: 50px;
		text-align: left;
	}

	&__info-item {
		margin-bottom: 35px;
	}

	h6 {
		@include l700;
		margin-bottom: 8px;
	}

	a {
		transition: all .5s;
	}

	a:hover {
		text-decoration: underline;
		opacity: .5;
	}

	&__social-list {
		list-style: none;
		display: flex;
		align-items: center;
	}

	&__social-item+&__social-item {
		margin-left: 20px;
		transition: all .5s;
	}

	&__social-item:hover {
		opacity: .5;
	}


	&__map {
		width: 55%;

		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

//end contacts
//start footer
.footer {
	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 76px;
	}

	&-line {
		border-bottom: 1px solid $gray;
	}

	&-container {
		display: flex;
		justify-content: space-between;
	}

	&-bottom {
		padding: 17px 0;
	}

	&-bottom__license {
		position: relative;
		padding-left: 14px;
		font-size: 12px;
		line-height: 14px;
		color: $gray;
	}

	&-bottom__license:before {
		position: absolute;
		content: '';
		background: url('../images/license.svg') no-repeat;
		width: 9px;
		height: 9px;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&-bottom__politics {
		font-size: 12px;
		line-height: 14px;
		color: $gray;
		cursor: pointer;
		display: inline-block;
	}
}

//end footer
//start catalog
.catalog {
	padding-top: 70px;

	&-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
		align-items: center;
	}

	&__inner {
		display: flex;
	}

	&__aside {
		min-width: 215px;
		margin-right: 90px;
	}

	&__aside-item {
		margin-bottom: 40px;
	}

	&__aside-title {
		margin-bottom: 20px;
	}

	&__aside-input {
		width: 100px;
		border: 1px solid #c4c4c4;
		height: 24px;
		padding: 0 5px;
		font-size: 14px;
		line-height: 17px;
	}

	&__aside-input+&__aside-input {
		margin-left: 10px;
	}

	&__aside-buttons {
		display: inline-flex;
		flex-direction: column;
	}

	&__aside-btn {
		border: none;
		background: #fff;
		padding: 15px 55px 17px 56px;
		border: 2px solid $yellow;
		border-radius: 25px;
		margin-bottom: 15px;
		transition: all .5s;
		cursor: pointer;
		display: inline-block;
		@include l700;
	}

	&__aside-btn:hover {
		background: $yellow;

	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: -22px;
	}

	&__item-wrapper {
		width: 270px;
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .4);
		transition: all .3s;
		border-radius: 6px;
		margin-bottom: 22px;
		width: calc(33.333333% - 22px);
		margin-left: 22px;
		display: flex;
		flex-direction: column;
	}

	&__item-wrapper:hover {
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .7);
	}


	&__item-img {
		display: flex;
		width: 100%;
		border-radius: 6px 6px 0 0;
	}

	&__item-inner {
		border-radius: 0 0 6px 6px;
	}

	&__item-info {
		padding: 20px 18px 0px 18px;
	}

	&__item-title {
		@include r700;
		margin-bottom: 15px;
	}

	&__item-paragraph {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 10px;

		span {
			font-size: 18px;
			line-height: 22px;
			@include l500;
		}
	}

	&__item-paragraph:last-child {
		margin-bottom: 15px;
	}

	&__item-paragraph-img {
		margin-left: 8px;
	}


	&__link {
		cursor: pointer;
		border: none;
		border: 2px solid $orange;
		padding: 15px 80px 17px 51px;
		background: $orange;
		color: #fff;
		box-shadow: 0px 5px 25px rgba(26, 33, 47, .1);
		border-radius: 25px;
		@include l600;
		font-size: 14px;
		line-height: 1;
		position: relative;
		transition: all .5s;
		display: inline-block;
		margin: 5px 20px 15px;
	}

	&__link:after {
		position: absolute;
		content: '';
		background: url('../images/paw-small.svg') no-repeat;
		width: 34px;
		height: 34px;
		right: 6px;
		top: 50%;
		transform: translateY(-50%);
	}

	&__link:hover {
		background-color: #fff;
		color: #000;
	}


}

.aside-filter__content-label {
	display: block;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 15px;
	cursor: pointer;
}

.select-item {
	cursor: pointer;
}

.aside-btn {
	padding: 15px 36px 17px;
}

.outfit {
	display: flex;
	margin-bottom: 5px;
}


//Jquery form styler
.jq-checkbox {
	width: 20px;
	height: 20px;
	border: 1px solid $gray;
	border-radius: 1px;
	box-shadow: none;
	background: #fff;
}


.jq-checkbox.checked .jq-checkbox__div {
	width: 10px;
	height: 9px;
	margin: 4px 2px 2px 4px;
	border-bottom: none;
	border-left: none;
	transform: rotate(0deg);
	background: url('../images/checked.svg') no-repeat;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active {
	background: transparent;
	box-shadow: none;
}

.jq-checkbox.focused {
	border: 1px solid $gray;
}

.jq-selectbox.focused .jq-selectbox__select {
	border: none;
}

.jq-selectbox__select {
	padding: 12px 62px 8px 20px;
	box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
	border: none;
	background: #fff;
	font-size: 14px;
	line-height: 17px;
	color: $dark;
	@include l500;
	text-shadow: none;
	height: auto;
	border-radius: 0;
}

.jq-selectbox__select-text {
	overflow: visible;
}

.jq-selectbox__trigger {
	border-left: none;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	content: '';
	background: url('../images/checked-select.svg') no-repeat;
	top: 17px;
	right: 12px;
	width: 15px;
	height: 10px;
	border-top: none;
	border-right: none;
	border-left: none;
}
.jq-selectbox__select{
	box-shadow: none;
}
.jq-selectbox__dropdown {
	border: none;
	border-radius: 0;
	font-size: 14px;
	line-height: 17px;
	margin: -7px 0 0;
	box-shadow: none;
}

.jq-selectbox li {
	transition: all .3s;
	position: relative;
	padding: 5px 15px 6px 20px;
}


.jq-selectbox li:hover {
	background-color: $yellow;
	color: $dark;
}

.option-up,
.option-down {
	position: relative;
}

.option-up:before,
.option-down:before {
	position: absolute;
	content: '';
	background: url('../images/arrow-up.png') no-repeat;
	width: 15px;
	height: 12px;
}

.option-up:before {
	top: 7px;
	left: 10px;
}

.option-down:before {
	transform: rotate(180deg);
	top: 7px;
	left: 3px;
}

.jq-selectbox li.selected {
	background-color: $gray;
	color: $dark;
}

.jq-selectbox__select {
	background: 0 0;
	box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
	top: -8px;
}

.jq-selectbox__select:active,
.jq-selectbox__select:hover {
	background: 0 0;
	box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
	top: -8px;
}


//end catalog

//star product__slider
.product__slider {
	height: 550px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		background: url('../images/paw-big.svg') no-repeat;
		width: 405px;
		height: 386px;
		top: 40px;
		right: 0;
		transform: rotate(197deg);
		z-index: -1;
	}

	&-info {
		position: absolute;
		top: -6px;
		left: 550px;
	}

	&-preview {
		margin-bottom: 22px;
		cursor: pointer;
	}

	&-title {
		margin-bottom: 20px;
		text-align: left;
	}

	p {
		margin-bottom: 15px;
		font-size: 16px;
		line-height: 19px;
	}

	&-icon {
		display: flex;
		align-items: center;
		margin-bottom: 15px;
	}

	&-imgbig {
		max-width: 500px;
		width: 100%;
		height: 396px;
		border-radius: 8px;
		object-fit: cover;
		background-position: center;
	}

	&-previewimg {
		max-width: 70px;
		width: 100%;
		height: 112px;
		object-fit: cover;
		border-radius: 4px;
		opacity: .5;
	}


	&-img {
		margin-right: 8px;
	}

	&-btn {
		display: inline-block;
	}

	span {
		@include l700;
	}
}

.slider-class {
	float: right;
	width: 90%;
}

.preview-class {
	height: 100%;
	width: 60%;
}

.slick-current .product__slider-previewimg {
	opacity: 1;
}

//end product__slider

//start modal
.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(255, 255, 255, .9);
	top: 0px;
	left: 0;
	z-index: 2000;
	display: none;
	overflow-y: auto;
	padding: 75px 15px;

	&__inner {
		display: flex;
		justify-content: center;
		height: auto;
		align-items: center;
	}

	&__content {
		background-color: #fff;
		width: 570px;
		padding: 70px 70px 0 70px;
		position: relative;
		transform: scale(.5);
		box-shadow: 0px 0px 25px rgba(208, 208, 208, .25);
		border-radius: 10px;
		opacity: 0;
		transition: transform .5s ease-out, opacity .5s ease-out;
		overflow: hidden;
	}

	&__content:after {
		position: absolute;
		content: '';
		background: url('../images/paw-modal.svg') no-repeat;
		width: 152px;
		height: 158px;
		top: -43px;
		left: -48px;
	}

	&__content-thanks {
		position: relative;
	}

	&__content-thanks:after {
		position: absolute;
		content: '';
		background: url('../images/paw-modal.svg') no-repeat;
		width: 152px;
		height: 158px;
		top: inherit;
		bottom: -37px;
		left: -26px;
		transform: rotate(243deg);
	}

	&__title {
		font-size: 28px;
		line-height: 33px;
		@include r700;
		margin-bottom: 50px;
		text-align: center;
	}

	&__title-thanks {
		margin-bottom: 25px;
	}

	&__text {
		font-size: 16px;
		line-height: 19px;
		text-align: center;
	}

	&__btn-thanks {
		padding: 16px 70px 16px 35px;
	}



	&__close {
		position: absolute;
		content: '';
		width: 16px;
		height: 16px;
		top: 40px;
		right: 40px;
		z-index: 1;
		border: none;
		background: none;
		padding: 0;
		cursor: pointer;
		transition: transform .5s linear;

		&:hover {
			transform: rotate(180deg);
		}
	}

	&.show {
		display: block;
	}
}

.form__group {
	margin-bottom: 20px;
	width: 100%;


	&-date {
		display: flex;
		align-items: center;

		span {
			margin-right: 8px;
		}
	}

	&-dateinput {
		font-size: 16px;
		line-height: 19px;
		padding: 20px;
		width: 50%;
		border-radius: 25px;
		border: 1px solid $gray;
	}
}

.form__input {
	font-size: 16px;
	line-height: 19px;
	padding: 20px;
	width: 100%;
	border-radius: 25px;
	border: 1px solid $gray;

	&-small {
		width: 129px;
		margin-bottom: 0;
	}
}

.form__input:placeholder {
	color: $gray;
}

.form__groups {
	display: flex;
	align-items: baseline;

	&-col {
		width: 321px;
		margin-left: 0;
		display: flex;
		align-items: center;
	}

	p {
		margin-right: 18px;
	}

	label {
		margin-right: 6px;
	}
}

.form__groups {
	.form__group {
		margin-bottom: 0;
	}
}


.form__btn {
	display: flex;
	margin: 50px auto 70px;
	background: $yellow;
}

.form__btn:hover {
	background: $orange;
	color: #fff;
}

.form__btn.modal__btn-thanks {
	margin: 50px auto 43px;
}



@import 'media';